[submodule "lib/bootstrap-slider"]
	path = lib/bootstrap-slider
	url = https://github.com/seiyria/bootstrap-slider
[submodule "lib/Leaflet"]
	path = lib/Leaflet
	url = https://github.com/Leaflet/Leaflet
[submodule "lib/leaflet-groupedlayercontrol"]
	path = lib/leaflet-groupedlayercontrol
	url = https://github.com/ismyrnow/leaflet-groupedlayercontrol
[submodule "lib/leaflet-providers"]
	path = lib/leaflet-providers
	url = https://github.com/leaflet-extras/leaflet-providers
[submodule "lib/sidebar-v2"]
	path = lib/sidebar-v2
	url = https://github.com/Turbo87/sidebar-v2
[submodule "lib/BeautifyMarker"]
	path = lib/BeautifyMarker
	url = https://github.com/marslan390/BeautifyMarker.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "lib/bootstrap3"]
	path = lib/bootstrap3
	url = https://github.com/NateWr/bootstrap3.git
